In [1]:

# Given the following dataset (which can be found at http://archive.ics.uci.edu/ml/datasets/Adult) answer a set of questions by analizing the data in it present using Pandas.

# The dataset is extracted from a 1994 census held in the United States and it classifies people into "rich" or "not rich" wether their income exceeds $ 50.000 or not.

# All decimals should be rounded to the nearest tenth.

In [2]:
import pandas as pd

df = pd.read_csv("adult.data.csv")
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
# How many people of each race are represented in this dataset?

race_count = df["race"].value_counts()
print("Race representation in the dataset:\n")
for i, v in race_count.items():
  print(i, ":", v)

Race representation in the dataset:

White : 27816
Black : 3124
Asian-Pac-Islander : 1039
Amer-Indian-Eskimo : 311
Other : 271

In [ ]:
# What is the average age of men?

average_age_men = round(df.loc[df["sex"]=="Male","age"].mean(),1)
print("%s years." % (average_age_men))

39.4 years.

In [5]:
# What is the percentage of people who have a Bachelor's degree?

percentage_bachelors = round(100*(df["education"].value_counts()["Bachelors"])/(df["education"].count()),1)
print( str(percentage_bachelors) + " %")

16.4 %

In [11]:
# How many people have advanced education (Bachelors, Masters, or Doctorate) and how many don't?

higher_education = df.loc[((df["education"]=="Bachelors") | (df["education"]=="Masters") | (df["education"]=="Doctorate")) ,"salary"].count()
lower_education = df.loc[((df["education"]!="Bachelors") & (df["education"]!="Masters") & (df["education"]!="Doctorate")) ,"salary"].count()

print("%s people have advanced education, and %s people don't have it." % (higher_education, lower_education))

7491 people have advanced education, and 25070 people don't have it.

In [26]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

higher_education_rich = round(100 * (df.loc[((df["education"]=="Bachelors") | (df["education"]=="Masters") | (df["education"]=="Doctorate")) & (df["salary"]==">50K"),"salary"].count()) / higher_education ,1)
lower_education_rich = round(100 * (df.loc[((df["education"]!="Bachelors") & (df["education"]!="Masters") & (df["education"]!="Doctorate")) & (df["salary"]==">50K"),"salary"].count()) / lower_education ,1)

f"{higher_education_rich}% of the people with advanced education are considered rich. Meanwhile, {lower_education_rich}% of the people without advanced education are considered rich."

'46.5% of the people with advanced education are considered rich. Meanwhile, 17.4% of the people without advanced education are considered rich.'

In [29]:
# What is the minimum number of hours a person works per week?

min_work_hours = df["hours-per-week"].min()
print(str(min_work_hours) + " hour.")

1 hour.

In [30]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

num_min_workers = df[df["hours-per-week"]==min_work_hours].count()[1]
rich_percentage = round((100*df[(df["hours-per-week"]==min_work_hours) & (df["salary"]==">50K")].count()[1]) / num_min_workers, 1)
print( str(rich_percentage) + " %.")

10.0 %.

In [32]:
# Which country has the highest percentage of people that earn >50K and what is that percentage?

percentage_50K_percountry = (100*df.loc[df["salary"]==">50K"].groupby("native-country").count()["salary"]/df.groupby(["native-country"]).count()["salary"]).round(1)     # A series that contais the % of people with a salary of >50 K in each country.
highest_earning_country = percentage_50K_percountry[percentage_50K_percountry==percentage_50K_percountry.max()].index[0]
highest_earning_country_percentage = percentage_50K_percountry.max()

f"The native country with the highest percentage of rich people is {highest_earning_country} with {highest_earning_country_percentage}%."

'The native country with the highest percentage of rich people is Iran with 41.9%.'

In [34]:
# Identify the most popular occupation for those who earn >50K in India.

India_occupations = df[(df["native-country"]=="India") & (df["salary"]==">50K")].groupby("occupation").count()["salary"]  
top_IN_occupation = India_occupations[India_occupations == India_occupations.max()].index[0]

f"The most popular occupation for rich people that come from India is: {top_IN_occupation}"

'The most popular occupation for rich people that come from India is: Prof-specialty'